***1. Split this string***

In [1]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

***2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.***

In [2]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometers.' .format(planet, diameter))

The diameter of Earth is 12742 kilometers.

***3. In this nest dictionary grab the word "hello"***

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

***4.Numpy***

In [7]:
import numpy as np

***4.1 Create an array of 10 zeros?***

***4.2 Create an array of 10 fives?***

In [11]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [12]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

***5. Create an array of all the even integers from 20 to 35***

In [13]:
ArrE = np.arange(20,35,2)
print('The Array of Even Integers (20-35): ', ArrE)

The Array of Even Integers (20-35):  [20 22 24 26 28 30 32 34]

***6. Create a 3x3 matrix with values ranging from 0 to 8***

In [14]:
Mat = np.arange(0,9).reshape(3,3)
print('3x3 Matrix:\n'); print(Mat)

3x3 Matrix:

[[0 1 2]
 [3 4 5]
 [6 7 8]]

***7. Concatenate a and b***

***a = np.array([1, 2, 3]), b = np.array([4, 5, 6])***

In [15]:
a = np.array([1, 2, 3]); b = np.array([4, 5, 6])
np.concatenate([a, b])

array([1, 2, 3, 4, 5, 6])

***Pandas***

***8. Create a dataframe with 3 rows and 2 columns***

In [16]:
import pandas as pd
Data = {"Name": ['Mano', 'Prithivi', 'Ram'], "Age": [15,20,40]}
pd.DataFrame(Data)

       Name  Age
0      Mano   15
1  Prithivi   20
2       Ram   40

***9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023***

In [17]:
Dates = pd.date_range('1-1-2023', '2-10-2023')
print('The Dates: ')
for i in Dates:
    print(i)

The Dates:
2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

***10. Create 2D list to DataFrame***

lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [18]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
pd.DataFrame(lists, columns = ['Si.No.', 'String', 'Number'])

   Si.No. String  Number
0       1    aaa      22
1       2    bbb      25
2       3    ccc      24